.App {
  text-align: center;
  // background-color: rgb(226, 226, 226);
}
html {
  scroll-behavior: smooth;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.main {
  display: flex;
  flex-direction: column;
}

.header {

  &__title {
    background-color: white;
    text-align: center;
    padding: 1.5rem;
    font-size: 3.5rem;
    color: rgb(41, 41, 41);
  }

  &__span {
    color: #008b84;
  }

  &__subtitle {
    padding: 1rem;
    color: white;
    text-align: center;
    background-color: #008b84;
    font-size: 1.5rem;
    font-weight: 500;
  }
}

.form__wrapper {

  background-image: url(./data/background_image_left.png), url(./data/background_image_right.png);
  //  background-position: 4px 4px, top 10px right -60px;
   background-position: 4px 4px, top 13px right -50px;
   background-repeat: no-repeat;
  background-color:  rgb(226, 226, 226);
  // background-position-y: 1.5rem, 1.5rem;
  // background-size: 25rem, 30rem;
  background-size: 22rem, 27rem;

}